.project-img-one {
  width: 250px;
  height: 200px;
}

@media (min-width: 768px) {
  .project-img-one {
    width: 350px;
    height: 280px;
  }
}
@media (min-width: 900px) {
  .project-img-one {
    width: 400px;
    height: 300px;
  }
}
.project-img {
  width: 250px;
  height: 200px;
}

@media (min-width: 768px) {
  .project-img {
    width: 300px;
    height: 220px;
  }
}
@media (min-width: 900px) {
  .project-img {
    width: 340px;
    height: 280px;
  }
}

  @media (min-width: 1200px) {
  .project-img {
    width: 480px;
    height: 380px;
  }
}