@import '../node_modules/bootstrap';
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

.light-grey-bg {
  background-color: $primary;
}

.pink-btn {
  background-color: $secondary;
  color: white;
}



